<div class="Container">
    <nav class="nav-bar">
        <button type="button"  [routerLink]="['/ticket']" class="btn btn-info">
        
        Gestion del conocimiento
        </button>
        
        <button type="button"  [routerLink]="['/ticket']" class="btn btn-info">
        
        Gestion de Incidencias
        </button>
    
    </nav>
    <p>
             INICIO
    </p>
    <button type="button"  [routerLink]="['tickets']" class="btn btn-info">
        
            TABLE TICKETS
    </button>
    <button type="button"  [routerLink]="['tickets']" class="btn btn-info">
        
            Usuarios
    </button>


</div>>